

<div class="jumbotron">
  <h1 style="text-align: center">
  Shorten URLs in a snap.
  </h1>
  <div style="text-align: center">
  <%= link_to('Login', new_user_session_path) %> or <%= link_to('Register', new_user_registration_path) %> to get started
  </div>
</div>

