<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-12" style="text-align: center"><b><%= @link.slug %></b> -- redirects to --> <b><%= @link.url %></b></div>
</div>


<%= link_to 'Back', links_path %>
